@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Visits: @ViewData["Visits"]</p>

    <div class="container">
        <div class="row">
            <div class="col text-center home_page_container">
                <input type="button" value="Left"/>
            </div>
            <div class="col text-center home_page_container">
                <input type="button" value="Middle"/>
            </div>
            <div class="col text-center home_page_container">
                <input type="button" value="Right"/>
            </div>
        </div>
    </div>
</div>
